*{/* Selektor Universal (untuk semua satu halaman website kena semua */
    box-sizing: border-box;
    background-color: whitesmoke;
}

header{ /* Selektor Tag yang kena hanya line yang memiliki tag yang di masukan */
    padding:10%;/* Jarak antara border dengan konten */
    color:blue;
    border: 10px solid green;
    text-align: center;
    background-color: aquamarine
}

#nav{/* Selektor id yang kena hanya yang memilki id tersebut, penggunaan untuk sebuah styling yg diperlukan sekali dalam 1 halaman website */
    margin:0;/* Jarak antara border dengan item lain */
    padding: 30px;
    color:blue;
    border: 10px solid green;
    text-align: center;
    background-color: aquamarine;
    /* float: left; Memindahkan? (DAri ekxperimen dilakukan pada html, dapat dilihat bahwa style ini membuat selektor pindah ke arah yang diinginkan) */
}

nav ul li a{
    color: red!important;
}

nav ul li a:hover{
    color: black;
    background-color: bisque;
}

nav ul li a:active{
    color: blueviolet;
    background-color: black;
}

article{
    color: aqua;
}


footer{
    text-align: center;
    color: blue;
    float: initial;
}

.class1{/*Selektor Class yang kena hanya tag yang memilki class tersebut*/
    background-color: brown;
}

.ketengah{ 
    margin: 10px auto; 
    width: 1150px; } 

.kotak{ 
    background: #fcfcfc; 
    padding: 20px; 
    width: 200px; 
    float: left; 
    margin: 20px; 
    height: 200px; } 

.kotak1{ 
    border-radius: 10px 10px 10px 10px; } 
.kotak2{ 
    border-radius: 40px 20px 60px 90px; } 
.kotak3{ 
    border-radius: 2px 140px 20px 60px; } 
.kotak3{ 
    border-radius: 20px 10px 80px 10px; } 
.kotak4{ 
    border-radius: 0px 50px 0px 50px; } 
.kotak5{ 
    border-radius: 0px 0px 0px 0px; } 
.kotak6{ 
    border-radius: 100%; } 
.kotak7{ 
    border-radius: 40px 10px; } 
.kotak8{ 
    border-radius: 10px 10px 50% 50%; }

.grid-container {
    display: grid;
    float: left;
    border: 3px solid;
}

.grid-item{
    background-color: rgba(255, 255, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.header-item{
    grid-column-start: 1;
    grid-column-end:  2 / span 2;
    background-color: rgba(255, 255, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.nav-item{
    grid-column: 1;
    grid-row:  2 / span 2;
    background-color: rgba(255, 255, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

